{% extends "base.html" %}
{% load static %}
{% load csp %}
{% block content %}
<div class="container my-3">
    <h2>상대 3명까지 선택</h2>
    <form id="select-form">
        {% csrf_token %}
        <div id="inputs">
            <!-- 3개의 입력 그룹 -->
            <div class="select-row mb-2">
                1: 
                <input name="name" class="form-control d-inline-block w-25" placeholder="이름" {% if current_phase != 'signup' %} disabled {% endif %}>
                <select class="form-control d-inline-block w-25 age-select" name="age" id="age" {% if current_phase != 'signup' %} disabled {% endif %}>
                    <option value="" selected>- 또래 -</option>
                </select>
                <select class="form-control d-inline-block w-25 org-select" name="org" id="org" {% if current_phase != 'signup' %} disabled {% endif %}>
                    <option value="" selected>- 마을 -</option>
                </select>
            </div>
            <div class="select-row mb-2">
                2:
                <input name="name" class="form-control d-inline-block w-25" placeholder="이름" {% if current_phase != 'signup' %} disabled {% endif %}>
                <select class="form-control d-inline-block w-25 age-select" name="age" id="age" {% if current_phase != 'signup' %} disabled {% endif %}>
                    <option value="" selected>- 또래 -</option>
                </select>
                <select class="form-control d-inline-block w-25 org-select" name="org" id="org" {% if current_phase != 'signup' %} disabled {% endif %}>
                    <option value="" selected>- 마을 -</option>
                </select>
            </div>
            <div class="select-row mb-2">
                3:
                <input name="name" class="form-control d-inline-block w-25" placeholder="이름" {% if current_phase != 'signup' %} disabled {% endif %}>
                <select class="form-control d-inline-block w-25 age-select" name="age" id="age" {% if current_phase != 'signup' %} disabled {% endif %}>
                    <option value="" selected>- 또래 -</option>
                </select>
                <select class="form-control d-inline-block w-25 org-select" name="org" id="org" {% if current_phase != 'signup' %} disabled {% endif %}>
                    <option value="" selected>- 마을 -</option>
                </select>
            </div>
        </div>
        <button id="submit-btn" class="btn btn-primary" {% if current_phase != 'signup' %} disabled {% endif %}>제출</button>
    </form>

</div>
{% endblock %}

{% block script %}

{% script type="module" %}
import { renderSelect } from "/static/select.js";
renderSelect({
    serverSecretB64: "{{ server_secret_b64 }}",
    anon_id: "{{ anon_id }}", 
    org_json: "{% static 'data/orgs.json' %}",
    age_json: "{% static 'data/ages.json' %}",
    matching_choices_api: "{% url 'matching:choices_api' %}",
    matching_select_api: "{% url 'matching:select_api' %}",
});
{% endscript %}

{% endblock %}