{% extends "base.html" %}
{% load static %}
{% load csp %}
{% block content %}
<div class="container my-3">
    <h2>내 정보</h2>
    <form id="myinfo-form">
        <!-- {% csrf_token %} -->
        <div class="mb-2">
            <label>현재 비밀번호</label>
            <input type="password" id="password" class="form-control" required>
        </div>
        <div class="mb-2">
            <label>새 비밀번호</label>
            <input type="password" id="password21" class="form-control">
        </div>
        <div class="mb-2">
            <label>새 비밀번호 확인</label>
            <input type="password" id="password22" class="form-control">
        </div>
        <div class="mb-2">
            <label>이름</label>
            <input type="text" id="name" class="form-control" required {% if current_phase != 'signup' %} disabled {% endif %}>
        </div>
        <div class="mb-2">
            <label>성별</label>
            <input type="text" id="gender" class="form-control" disabled>
        </div>
        <div class="mb-2">
            <label>또래</label>
            <select class="form-control age-select" name="age" id="age" required {% if current_phase != 'signup' %} disabled {% endif %}>
                <option value="" selected>- 또래 -</option>
            </select>
        </div>
        <div class="mb-2">
            <label>마을</label>
            <select class="form-control org-select" name="org" id="org" required {% if current_phase != 'signup' %} disabled {% endif %}>
                <option value="">- 마을 -</option>
            </select>
        </div>
        <div class="mb-2">
            <label>연락처</label>
            <input type="text" id="phone" class="form-control" maxlength="13" pattern="\d{3}-\d{4}-\d{4}" required {% if current_phase != 'signup' %} disabled {% endif %}>
        </div>
        <input name="profile_tag" id="profile_tag" hidden>
        <div id="msg" class="text-danger"></div>
        <button type="submit" class="btn btn-primary mt-2 approve-btn" {% if current_phase != 'signup' %} disabled {% endif %}>정보 수정</button>
        <button type="submit" class="btn btn-danger mt-2 cancel-btn" {% if current_phase != 'signup' %} disabled {% endif %}>회원 탈퇴</button>
    </form>
    <form id="csrf-form">{% csrf_token %}</form>
</div>
{% endblock %}

{% block script %}

<script type="module" nonce="{{ request.csp_nonce }}">
import { renderInfo } from "{% static 'info.js' %}";
renderInfo({
    serverSecretB64: "{{ server_secret_b64 }}",
    anon_id: "{{ anon_id }}", 
    userSaltB64: "{{ user_salt }}",
    common_get_myinfo_api: "{% url 'common:get_myinfo_api' %}",
    common_update_myinfo_api: "{% url 'common:update_myinfo_api' %}",
    common_delete_myinfo_api: "{% url 'common:delete_myinfo_api' %}",
    org_json: "{% static 'data/orgs.json' %}",
    age_json: "{% static 'data/ages.json' %}",
});
</script>

{% endblock %}