{% extends 'base.html' %}
{% load custom_filter %}
{% load static %}
{% load csp %}
{% block content %}

<h1>공지사항</h1>
<div class="card-text" id="content">
    <p><h3> 현재는 <span class="text-success">{{ phase }}</span> 기간입니다. </h3></p>
    <!-- {{ text }} -->
</div>
<div class="card-text" id="content">
    <p><h3> 기간 안내 </h3>
    <ul id="phase-list"></ul>
    </p>
</div>


{% endblock %}

{% block script %}

{% script type="module" %}
import { loadAndRenderPhases } from "/static/phase_info.js";
loadAndRenderPhases();
{% endscript %}

{% endblock %}
